:root {
    --default-font-family2: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container2 {
    overflow: hidden;
  }
  
  .main-container2,
  .main-container2 * {
    box-sizing: border-box;
  }
  
  .input2,
  .select2,
  .textarea2,
  .button2 {
    outline: 0;
  }
  
  .main-container2 {
    position: relative;
    width: 1280px;
    height: 720px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
    margin-top: 2%;
    
  }
  .main-frame-background2 {
    position: absolute;
    width: 1280px;
    height: 720px;
    margin: 0 0 0 0;
    background: #262626;
    z-index: 1;
    overflow: visible auto;
    border-radius: 7px;
    
  }
  .form-container104{
    margin-left: 35.5%;
  }
  .big-account-bar{
    position: relative;
    width: 1280px;
    height: 58px;
    margin: 0 0 0 0;
    margin-left: -55%;
    background: #222222;
    z-index: 3;
    border-radius: 7px 7px 0 0;
  }
  .account-bar2 {
    position: relative;
    width: 100%;
    height: 5%;
    margin: 0 0 0 0;
    background: #222222;
    z-index: 3;
    border-radius: 7px 7px 0 0;
  }
  .account2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 47.455px;
    top: 5.273px;
    left:155%;
    color: #ffffff;
    font-family: Kantumruy, var(--default-font-family2);
    font-size: 20px;
    font-weight: 400;
    line-height: 36.133px;
    text-align: left;
    white-space: nowrap;
    z-index: 4;
  }
  .vector2 {
    position: absolute;
    width: 3.07%;
    height: 40.91%;
    top: 29.55%;
    left: 2.62%;
    background: url(../assets/images/45246d70-5334-4404-8daa-30d76e51f1e5.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 6;
  }
  .rectangle2 {
    position: relative;
    width: 329.601px;
    height: 55.636px;
    margin: 2% auto;
    background: #74dd98;
    border: 2px solid #2e2e2e;
    z-index: 31;
    border-radius: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .transfer-token2 {
    position: absolute;
    width: 57.34%;
    height: 68.3%;
    bottom: 10%;
    left: 20.33%;
    color: #272727;
    font-family: Poppins, var(--default-font-family2);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    white-space: nowrap;
    background: transparent;
    border: none;
    z-index: 22;
  }
  .transaction-details-background2 {
    width: 350px;
    height: 437px;
    margin: auto;
    font-size: 0px;
    background: url(../assets/images/080edce0-6464-4538-901a-cff2fcb1b786.png) no-repeat center;
    background-size: cover;
    z-index: 8;
    overflow: visible auto;
    border-radius:7.5px;
  }
  .recipient-address2 {
    display: block;
    position: relative;
    height: 19px;
    margin: 77px 0 0 7px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family2);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 16;
  }
  .password-input2 {
    position: relative;
    width: 335.366px;
    height: 41px;
    margin: 9px 0 0 7px;
    background: #181818;
    border: 1px solid #2e2e2e;
    z-index: 14;
    border-radius: 5px;
    box-sizing: content-box;
  }
  .wallet-address2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: 11px;
    left: 21px;
    color: #606060;
    font-family: Inter, var(--default-font-family2);
    font-size: 14px;
    font-weight: 600;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
  }
  .token-amount2 {
    display: block;
    position: relative;
    height: 19px;
    margin: 51px 0 0 7px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family2);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }
  .password-input-12 {
    position: relative;
    width: 335.366px;
    height: 41px;
    margin: 9px 0 0 7px;
    background: #181818;
    border: 1px solid #2e2e2e;
    z-index: 10;
    border-radius: 5px;
    box-sizing: content-box;
  }
  .token-amount-input2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 19px;
    top: 11px;
    left: 21px;
    color: #606060;
    font-family: Inter, var(--default-font-family2);
    font-size: 14px;
    font-weight: 600;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
  }
    .rectangle-22 {
      position: relative;
      width: 154px;
      height: 56px;
      margin: 51px 0 0 97px;
      background: #74dd98;
      border: 2px solid #2e2e2e;
      z-index: 18;
      border-radius: 16px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .send2 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 56px; /* Adjust the height as needed */
      color: #272727;
      font-family: Poppins, var(--default-font-family);
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      text-align: center;
      background-color: #74dd98; /* Button background color */
      border: none; /* Remove border */
      border-radius: 16px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      cursor: pointer;
  }
  
  
    .wallet-address2, .token-amount-input2 {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      position: absolute;
      height: 19px;
      top: 11px;
      left: 21px;
      color: #606060;
      font-family: Inter, var(--default-font-family);
      font-size: 14px;
      font-weight: 600;
      line-height: 16.943px;
      text-align: left;
      white-space: nowrap;
      z-index: 15;
      border: none; /* Remove border */
      background: transparent; /* Set background to transparent */
      width: calc(100% - 42px); /* Set width to match black box */
  }
  .success-message2 {
      position: absolute;
      top: 160px; /* Adjust this value to position the message appropriately */
      left: 50%; /* Center horizontally */
      transform: translateX(-50%);
      background-color: #272727;
      color: #74dd98;
      font-family: Poppins, var(--default-font-family);
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      padding: 10px 20px;
      border-radius: 10px;
      z-index: 20; /* Ensure it's above other elements */
    }