:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 390px;
  height: 844px;
  margin: 0 auto;
  
}
.main-frame-background {
  position: relative;
  width: 390px;
  height: 844px;
  margin: 0 0 0 0;
  background: #262626;
  z-index: 1;
  overflow: visible auto;
  border-radius: 7px;
}
.account-bar {
  position: relative;
  width: 375px;
  height: 58px;
  margin: 0 0 0 0;
  background: #222222;
  z-index: 3;
  border-radius: 7px 7px 0 0;
}
.account {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 47.455px;
  top: 5.273px;
  left: 128.397px;
  color: #ffffff;
  font-family: Kantumruy, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 36.133px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.vector {
  position: absolute;
  width: 7.07%;
  height: 40.91%;
  top: 29.55%;
  left: 4.62%;
  background: url(../assets/images/45246d70-5334-4404-8daa-30d76e51f1e5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 6;
}
.rectangle {
  position: relative;
  width: 333.22px;
  height: 131.818px;
  margin: 26.364px 0 0 20.38px;
  background: #74dd98;
  border: 2px solid #2e2e2e;
  z-index: 60;
  border-radius: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.flex-column-be {
  position: absolute;
  width: 40.67%;
  height: 76%;
  top: 10.48%;
  left: 5.52%;
  font-size: 0px;
  z-index: 65;
}
.current-balance {
  display: block;
  position: relative;
  height: 31.636px;
  margin: 0 0 0 0;
  color: #272727;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 65;
}
.currency {
  display: block;
  position: relative;
  height: 47.455px;
  margin: 21.091px 0 0 0;
  color: #1d1d1d;
  font-family: Poppins, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 64;
}
.percentage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 23.727px;
  top: 77.091px;
  right: 92.769px;
  color: #2e2e2e;
  font-family: Inter, var(--default-font-family);
  font-size: 14.819188117980957px;
  font-weight: 700;
  line-height: 17.935px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.arrow-up {
  position: absolute;
  width: 3.68%;
  height: 12.04%;
  top: 60.34%;
  left: 52%;
  background: url(../assets/images/10aa10bc-5b7c-4b32-8284-2e646e5b7f8e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 63;
  overflow: hidden;
  border-radius: 16px;
}
.flex-row-afb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 324.736px;
  height: 50.091px;
  margin: 39.545px 0 0 22.418px;
  z-index: 57;
}
.transfer-button {
  flex-shrink: 0;
  position: relative;
  width: 102.589px;
  height: 50.091px;
  background: #74dd98;
  border: 2px solid #393939;
  z-index: 57;
  border-radius: 20px;
  box-sizing: content-box;
}
.transfer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25.045px;
  top: 11.864px;
  left: 21.702px;
  color: #222222;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 58;
}
.deposit-button {
  flex-shrink: 0;
  position: relative;
  width: 102.589px;
  height: 50.091px;
  background: #74dd98;
  border: 2px solid #393939;
  z-index: 54;
  border-radius: 20px;
  box-sizing: content-box;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
}
.deposit {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25.045px;
  top: 11.864px;
  left: 23.674px;
  color: #28272a;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.receive-button {
  flex-shrink: 0;
  position: relative;
  width: 102.589px;
  height: 50.091px;
  background: #74dd98;
  border: 2px solid #393939;
  z-index: 51;
  border-radius: 20px;
  box-sizing: content-box;
}
.withdraw {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 25.045px;
  top: 11.864px;
  left: 16.77px;
  color: #28272a;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.943px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.holdings-background {
  position: relative;
  width: 353.601px;
  height: 395.455px;
  margin: 39.545px 0 0 10.19px;
  background: url(../assets/images/080edce0-6464-4538-901a-cff2fcb1b786.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
  overflow: visible auto;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 327.106px;
  height: 26.364px;
  margin: 14.5px 0 0 9.171px;
  z-index: 48;
}
.holdings {
  flex-shrink: 0;
  position: relative;
  height: 26.364px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 48;
}
.see-all {
  flex-shrink: 0;
  position: relative;
  height: 21.091px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  z-index: 47;
}
.flex-row-fa {
  position: relative;
  width: 338.315px;
  height: 59.318px;
  margin: 11.864px 0 0 12.228px;
  z-index: 45;
}
.eth-icon {
  position: absolute;
  width: 14.46%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/b7ec6f21-89a5-45ad-a6ac-5ef64cc5c58f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 44;
}
.pound-amount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 31.636px;
  top: 1.318px;
  right: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}
.ethereum {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 53.33%;
  top: 6.67%;
  left: 18.31%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}
.graph-eth {
  position: absolute;
  width: 68.054px;
  height: 34.744px;
  top: 10.34px;
  left: 167.178px;
  background: url(../assets/images/f28026c0-2074-47fa-8fcf-f2ae30d66aa1.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
}
.eth {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 46.67%;
  top: 53.33%;
  left: 18.31%;
  color: #6c757d;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 42;
}
.eth-amount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19.773px;
  top: 35.591px;
  right: 5.095px;
  color: #6c757d;
  font-family: Poppins, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 40;
}
.flex-row-eed {
  position: relative;
  width: 334.239px;
  height: 59.318px;
  margin: 31.636px 0 0 13.247px;
  z-index: 35;
}
.rectangle-1 {
  position: absolute;
  width: 48.913px;
  height: 59.318px;
  top: 0;
  left: 0;
  background: #212125;
  z-index: 34;
  border-radius: 6px;
}
.bitcoin-logo {
  position: relative;
  width: 22.418px;
  height: 29px;
  margin: 15.818px 0 0 13.247px;
  z-index: 36;
  overflow: hidden;
}
.group {
  position: relative;
  width: 16.199px;
  height: 29px;
  margin: 0 0 0 3.109px;
  z-index: 37;
}
.vector-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../assets/images/91116894-a53a-42bc-a648-6d4736a95ef9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 38;
}
.pound-amount-3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 31.636px;
  top: 1.318px;
  right: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 29;
}
.bitcoin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 53.33%;
  top: 6.67%;
  left: 18.85%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.graph-btc {
  position: absolute;
  width: 69.773px;
  height: 25.811px;
  top: 16.871px;
  left: 166.11px;
  background: url(../assets/images/b357d26c-909c-44e7-9281-c4edeaf9df15.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
}
.btc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 46.67%;
  top: 53.33%;
  left: 18.85%;
  color: #6c757d;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.btc-amount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19.773px;
  top: 35.591px;
  right: 1.235px;
  color: #6c757d;
  font-family: Poppins, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.flex-row-d {
  position: relative;
  width: 333.22px;
  height: 59.318px;
  margin: 31.636px 0 0 14.266px;
  z-index: 26;
}
.rectangle-4 {
  position: absolute;
  width: 48.913px;
  height: 59.318px;
  top: 0;
  left: 0;
  background: #212125;
  z-index: 26;
  border-radius: 6px;
}
.vector-5 {
  position: relative;
  width: 20.38px;
  height: 26.364px;
  margin: 15.818px 0 0 14.266px;
  background: url(../assets/images/54097542-4e6a-4b7e-aa89-15c2462a3a01.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 27;
}
.pound {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 31.636px;
  top: 1.318px;
  right: 0;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.bitcoin-litecoin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 53.33%;
  top: 6.67%;
  left: 18.9%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.graph-eth-6 {
  position: absolute;
  width: 68.054px;
  height: 34.744px;
  top: 12.411px;
  left: 166.619px;
  background: url(../assets/images/5a5ba27f-919b-4bf2-a698-b63f6a62aeda.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.ltc {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 46.67%;
  top: 53.33%;
  left: 18.9%;
  color: #6c757d;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.ltc-amount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19.773px;
  top: 35.591px;
  right: 0px;
  color: #6c757d;
  font-family: Poppins, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.flex-row-cdef {
  position: relative;
  width: 333.22px;
  height: 59.318px;
  margin: 31.636px 0 0 9.171px;
  z-index: 16;
}
.rectangle-7 {
  position: absolute;
  width: 48.913px;
  height: 59.318px;
  top: 0;
  left: 0;
  background: #212125;
  z-index: 16;
  border-radius: 6px;
}
.xrp-alt {
  position: relative;
  width: 22.418px;
  height: 29px;
  margin: 15.818px 0 0 13.247px;
  z-index: 17;
  overflow: hidden;
}
.xrp {
  position: relative;
  width: 21.219px;
  height: 28.881px;
  margin: 0.12px 0 0 0.59px;
  background: url(../assets/images/051f1be4-0ac0-4825-8185-528ab2f2c210.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 18;
}
.pound-8 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 31.636px;
  top: 1.318px;
  right: 0px;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.ripple {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 53.33%;
  top: 6.67%;
  left: 18.9%;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.graph-eth-9 {
  position: absolute;
  width: 68.054px;
  height: 34.744px;
  top: 12.411px;
  left: 166.619px;
  background: url(../assets/images/47c54188-5354-4b07-969a-d62b24e173eb.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
.btc-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 46.67%;
  top: 53.33%;
  left: 18.9%;
  color: #6c757d;
  font-family: Poppins, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}
.ltc-b {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 19.773px;
  top: 35.591px;
  right: 0;
  color: #6c757d;
  font-family: Poppins, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
